{% extends 'headerbasic.html' %}
{% block content %}
    <div class="tabbable">
        <div class="tab-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Nombres:
                        </label>
                        <input class="form-control tooltips" placeholder="Ingrese nombre" type="text"
                               name="nombre" id="nombre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Apellidos:
                        </label>
                        <input class="form-control tooltips" placeholder="Ingrese apellidos" type="text"
                               name="apellidos" id="apellidos">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Tipo de documento:
                        </label>
                        <select id="tipodocumento" class="form-control">
                            <option value="DNI" selected="selected">DNI</option>
                            <option value="RUC">RUC</option>
                            <option value="C.E">C.E</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Numero de documento:
                        </label>
                        <input class="form-control tooltips" placeholder="Numero de documento" type="text"
                               name="numerodocumento" id="numerodocumento">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">
                        Fecha de Nacimiento:
                    </label>

                    <div class="input-group">
                        <input id="fechanacimiento" type="text" data-date-format="dd-mm-yyyy"
                               class="form-control">
                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Correo electr&oacute;nico:
                        </label>
                        <input class="form-control tooltips" placeholder="ejemplo@tudominio.com" type="text"
                               name="correoelectronico" id="correoelectronico">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Celular:
                        </label>
                        <input class="form-control tooltips" placeholder="511999999999 o 999999999" type="text"
                               name="celular" id="celular">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Tel&eacute;fono:
                        </label>
                        <input class="form-control tooltips" placeholder="5114444444 o 4444444" type="text"
                               name="telefono" id="telefono">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form-field-select-3">
                            Ubigeo:
                        </label>
                        <select id="ubigeo" class="form-control search-select">
                            <option value="">&nbsp;</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Direcci&oacute;n:
                        </label>
                        <input class="form-control tooltips" placeholder="Direcci&oacute;n" type="text"
                               name="direccion" id="direccion">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}